language: python
python:
- '3.6'
- '3.7'
- '3.8'
- '3.9-dev'
before_install:
- PYTHON_MAJOR_VERSION=`echo $TRAVIS_PYTHON_VERSION | head -c 1`
- sudo apt-get install python3-pip
install:
- python3 -m pip install -e .[test]
script:
- python3 -m pytest -v -x automated_test.py
