boto3>=1.4.7
brotli
crc32c
chardet>=3.0.4
click
deflate>=0.2.0
gevent
google-auth>=1.10.0
google-cloud-core>=1.1.0
google-cloud-storage>=1.31.1
google-crc32c>=1.0.0
orjson
pathos
protobuf>=3.3.0
requests>=2.22.0
six>=1.14.0
tenacity>=4.10.0
tqdm
urllib3[secure,brotli]>=1.25.11,<1.26.0
zstandard
rsa>=4.6,!=4.7
